import useStyles from './styles'
import { useTheme } from 'react-jss'

const {{pascalCase name}} = ({children}) => {
  const theme = useTheme()
  const classes = useStyles({theme})
    return (
      <h1 className={classes.myLabel}>
        {{pascalCase name}}
      </h1>
  )
}

export default {{pascalCase name}}