import useStyles from './styles'

const {{pascalCase name}} = ({children}) => {
  const classes = useStyles()
    return (
      <h1 className={classes.myLabel}>
        {{pascalCase name}}
      </h1>
  )
}

export default {{pascalCase name}}